html {
  font-family: 'Trebuchet MS', sans-serif;
  height: 100%;
  width: 100%;
  background-color: rgb(48, 48, 48)
}

h1 {
  color: lightcoral;
  text-align: center;
}

p {
  color:lightblue;
  text-align: center;
}

div.photos {
  display: flex;
  justify-content: center;
  align-items: center;
  a:link, a:visited {
    background-color: #5BCEFA;
    color: white;
    padding: 13px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
}

div.movies {
  display: flex;
  justify-content: center;
  align-items: center;
    a:link, a:visited {
    background-color: #F5A9B8;
    color: white;
    padding: 13px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
}

div.white {
  display: flex;
  justify-content: center;
  align-items: center;
    a:link, a:visited {
    background-color: #ffffff;
    color: white;
    padding: 13px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
}