html {
  font-family: 'Trebuchet MS', sans-serif;
  height: 100%;
  width: 100%;
  background-color: rgb(48, 48, 48)
}

h1 {
  font-family: "Rock 3D";
  font-size: 72pt;
  color: white;
  text-align: center;
}

div.photos {
  display: flex;
  justify-content: center;
  align-items: center;
  a:link, a:visited {
    background-color: #5BCEFA;
    color: black;
    padding: 13px 120px;
    font-family: "Chakra Petch";
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
}

div.movies {
  display: flex;
  justify-content: center;
  align-items: center;
    a:link, a:visited {
    background-color: #F5A9B8;
    color: black;
    padding: 13px 148.9px;
    text-align: center;
    text-decoration: none;
    font-family: "Chakra Petch";
    font-weight: bold;
    display: inline-block;
  }
}

div.white {
  display: flex;
  justify-content: center;
  align-items: center;
    a:link, a:visited {
    background-color: #ffffff;
    color: black;
    padding: 13px 143.6px;
    text-align: center;
    text-decoration: none;
    font-family: "Chakra Petch";
    font-weight: bold;
    display: inline-block;
  }
}